/* Fonts */

@font-face {
  font-family: 'Inclusive Sans';
  src: url('assets/fonts/InclusiveSans-Regular.woff2') format('woff2'),
    url('assets/fonts/InclusiveSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inclusive Sans';
  src: url('assets/fonts/InclusiveSans-Bold.woff2') format('woff2'),
    url('assets/fonts/InclusiveSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Library */

body {
  font-family: Inclusive Sans, Arial, Helvetica, sans-serif;
  color: #111;
}

header {
  text-align: center;
  padding: 40px;
}

main {
  display: flex;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.space {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #111;
  font-size: 4rem;
  font-weight: bold;
}
